body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

#messages {
    max-width: 50%;
    color: white;
    background-color: grey;
    padding: 10px;
    position: absolute;
    top: 0;
    margin: auto;
    display: none;
}

.game-item {
    min-width: 33%;
    border: solid 1px green;
    margin: 10px;
    font-size: 4vw;
}

.game-item ul {
    margin: 0;
    padding: 5;
}

.game-item li {
    list-style-type: none;
}